.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.value {
  font-size: 60px;
}

@media (max-width: 600px) {
  .value {
    font-size: 20px;
  }
  .item {
    margin: 5px;
  }
}
